.count-container {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    border: 2px solid #FFF;
    border-radius: 90px;
    padding: 25px;
}

.time {
    text-align: center;
}

.time p {
    padding: 0;
    margin: 0;
}