@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 300px;
    min-height: 100vh;
    background: rgba(0, 1, 17, 0.65);
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
}

.title {
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
}

.title span {
    font-weight: 700;
}

footer {
    text-align: center;
    padding: 20px;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
